
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('gettyimages-178916008-612x612.jpg') no-repeat center center fixed;
    background-size: cover;
}
.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.signup-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.signup-box input[type="text"],
.signup-box input[type="password"],
.signup-box input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
}
.signup-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.signup-box a {
    color: #87CEEB;
    text-decoration: none;
}